body {
    background-color: #f3f3f3;
}

.card {
    background-color: white;
}

#title {
    background-size: cover;
    background-position: center;
    height: 600px;
}

#title h1 {
    text-align: center;
    font-size: 64px;
    font-weight: 400;
}
#title p {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

h3, h4 {
    font-weight: lighter;
}
#title > div {
    padding-top: 460px;
    padding-bottom: 30px;
}

#title > div > p {
    font-style: italic;
}

.card {
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.4s ease;
}

.card:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.card .card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.4s ease;
}

.card .card:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.container h1{
    font-size: 28px;
    font-weight: normal;
}

.container p{
    font-size: 18px;
    font-weight: lighter;
}

.container h2{
    font-size: 22px;
    font-weight: normal;
}

.card{
    padding: 15px 15px 5px;
}

.dormitoryCard div.row{
    margin-left: 0;
    margin-right: 0;
}

.dormitoryCard div.row .card{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    margin-top: 0px;
    width: 47%;
    padding: 10px;
    padding-left: 20px;
}