a{
    color: var(--bs-body-color);
    text-decoration: none;
}

a:hover{
    color: black;
}

footer  p, footer a{
    color: gray;
}

footer > p {
    text-align: center;
}

footer > p > a {
    text-decoration: none;
}

p, h1, h2, h3, li, h4, h5, h6 {
    font-family: 'Noto Sans SC', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial,
    'PingFang SC', 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei',
    'Microsoft JhengHei', 'Source Han Sans SC', 'Noto Sans CJK SC',
    'Source Han Sans CN', 'Source Han Sans TC', 'Noto Sans CJK TC',
    'WenQuanYi Micro Hei', SimSun, sans-serif;
}

p, ul, li, ol, a, del {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}