<!DOCTYPE html>

<!--CS2408, HUST-->
<!--Developed by ZTsubaki-->
<!--2024.11.28-->

<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>HUST CS2408</title>
    <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.6.0/jquery.js"
            type="application/javascript"></script>
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/bootstrap/5.1.3/js/bootstrap.js"
            type="application/javascript"></script>
    <link href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/bootstrap/5.1.3/css/bootstrap.css" rel="stylesheet"
          type="text/css"/>
    <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/3.2.31/vue.global.js"
            type="application/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet"/>
    <link href="css/index.css" rel="stylesheet"/>
</head>
<body>
<div id="vm">
    <div id="title">
        <div>
            <h1>CS2408</h1>
            <p>{{sign}}</p>
        </div>
        <div style="height: 10px;padding: 0;margin: 0;backdrop-filter: blur(2px);"></div>
    </div>
    <div class="container" id="content">
        <div class="row">
            <div class="col-md-2">
                <div class="card">
                    <h2>优秀作业</h2>
                    <div class="card exhibitionCard" v-for="exhibition in exhibitions">
                        <a target="_blank" v-bind:href="exhibition.url"><h1>{{exhibition.name}}</h1></a>
                        <p>{{exhibition.dormitory}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card dormitoryCard" v-for="dormitory in dormitories">
                    <a target="_blank" v-bind:href="dormitory.url"><h1>{{dormitory.name}}</h1>
                        <p>{{dormitory.sign}}</p></a>
                    <div class="row">
                        <div class="card col-md-6" v-for="member in dormitory.members">
                            <a target="_blank" v-bind:href="member.url"><h2>{{member.name}}</h2></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">

                <div class="card">
                    <h2>特色展示</h2>
                    <div class="card featureCard" v-for="feature in features">
                        <a target="_blank" v-bind:href="feature.url"><h1>{{feature.name}}</h1></a>
                        <p>{{feature.intro}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <p>Copyright &copy <a href="http://ztsubaki.xyz/" target="_blank">ZTsubaki</a></p>
    <p>2024 @ CS2408</p>
    <p><a href="https://cs.hust.edu.cn/" target="_blank">School of Computer Science</a> ,<a href="https://hust.edu.cn/"
                                                                                            target="_blank">HUST</a>
    </p>
    <p><a href="https://github.com/JackDavidZhang/cs2408/" target="_blank">GitHub</a>
    </p>
</footer>
<script src="js/index.js"></script>
</body>
</html>
